@charset "UTF-8";
@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-Heavy.woff2") format("woff2"), url("../fonts/SFProDisplay-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter18pt-Regular.woff2") format("woff2"), url("../fonts/Inter18pt-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter18pt-Medium.woff2") format("woff2"), url("../fonts/Inter18pt-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter18pt-Bold.woff2") format("woff2"), url("../fonts/Inter18pt-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter18pt-SemiBold.woff2") format("woff2"), url("../fonts/Inter18pt-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
/* Обнуление стилей */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html, body {
  height: 100%;
}

html {
  font-style: 16px;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  color: rgba(239, 237, 232, 0.65);
  background-color: #171717;
}
body._lock {
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.mainpage {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  margin: 0 auto;
  max-width: 1342px;
  padding: 0 15px;
}

.header__body {
  padding: 51px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 619.98px) {
  .header__body {
    padding: 21px 0;
  }
}
.header__logo {
  z-index: 10;
  font-weight: 700;
  font-size: 16px;
  color: #fafaf9;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}
.header__icon {
  display: none;
}
@media (max-width: 768.98px) {
  .header__icon {
    display: block;
    position: relative;
    z-index: 3;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .header__icon span, .header__icon::before, .header__icon::after {
    position: absolute;
    left: 0;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fafaf9;
  }
  .header__icon::before, .header__icon::after {
    content: "";
  }
  .header__icon::before {
    top: 0;
  }
  .header__icon::after {
    bottom: 0;
  }
  .header__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
        -ms-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .header__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
        -ms-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }
  .header__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
        -ms-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }
  .header__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
        -ms-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }
}
.header__nav {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 768.98px) {
  .header__nav {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    right: -100%;
    top: 0;
    background-color: #171717;
  }
}
.header__nav._active {
  right: 0;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
@media (max-width: 768.98px) {
  .header__menu {
    padding: 30% 0 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 20px;
  }
}
.header__link {
  font-weight: 400;
  font-size: 12px;
  color: #fafaf9;
  text-transform: uppercase;
  text-decoration: none;
}

.workout__body {
  padding: 136px 0 0 107px;
  position: relative;
}
@media (max-width: 1259.98px) {
  .workout__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px 0 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 30px;
  }
}
.workout__title {
  font-family: "SF Pro Display", sans-serif;
  font-weight: 900;
  font-size: 172px;
  line-height: 99%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fafaf9;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: title;
          animation-name: title;
}
@media (max-width: 1489.98px) {
  .workout__title {
    font-size: 100px;
    max-width: 600px;
  }
}
@media (max-width: 1259.98px) {
  .workout__title {
    text-align: center;
    font-size: 172px;
    max-width: none;
  }
}
@media (max-width: 882.98px) {
  .workout__title {
    font-size: 122px;
  }
}
@media (max-width: 619.98px) {
  .workout__title {
    font-size: 82px;
  }
}
@media (max-width: 398.98px) {
  .workout__title {
    font-size: 52px;
  }
}
.workout__bg {
  position: absolute;
  top: 193px;
  left: 860px;
  opacity: 0;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
  -webkit-animation-name: bg;
          animation-name: bg;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@media (max-width: 1489.98px) {
  .workout__bg {
    top: 153px;
    left: 680px;
  }
}
@media (max-width: 1259.98px) {
  .workout__bg {
    position: static;
    max-width: 409px;
  }
}
.workout__img {
  width: 100%;
}
.indicators {
  position: absolute;
  top: 173px;
  left: 737px;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 1.9s;
          animation-delay: 1.9s;
  -webkit-animation-name: indicators;
          animation-name: indicators;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}
@media (max-width: 1489.98px) {
  .indicators {
    top: 153px;
    left: 580px;
  }
}
@media (max-width: 1259.98px) {
  .indicators {
    top: 400px;
    left: auto;
    right: auto;
    margin: 0 auto;
  }
}
@media (max-width: 882.98px) {
  .indicators {
    top: 270px;
  }
}
@media (max-width: 619.98px) {
  .indicators {
    top: 240px;
  }
}
@media (max-width: 398.98px) {
  .indicators {
    top: 140px;
  }
}
.indicators__body {
  position: relative;
  width: 659px;
  height: 587px;
}
@media (max-width: 689.98px) {
  .indicators__body {
    width: 459px;
    height: 687px;
  }
}
@media (max-width: 619.98px) {
  .indicators__body {
    width: 459px;
    height: 647px;
  }
}
@media (max-width: 460.98px) {
  .indicators__body {
    width: 319px;
  }
}
@media (max-width: 398.98px) {
  .indicators__body {
    height: 557px;
  }
}
.indicators__run {
  position: absolute;
  top: 0;
  left: 415px;
  padding: 14px 28px;
  background-color: #ef8964;
  border-radius: 12px;
}
@media (max-width: 689.98px) {
  .indicators__run {
    padding: 7px 14px;
    top: 20px;
    left: 290px;
  }
}
@media (max-width: 619.98px) {
  .indicators__run {
    top: 0px;
    left: 290px;
  }
}
@media (max-width: 460.98px) {
  .indicators__run {
    left: 190px;
  }
}
.indicators__logo {
  border-radius: 100%;
  background-color: #efa082;
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.indicators__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
}
.indicators__distance {
  font-weight: 700;
  font-size: 48px;
  line-height: 104%;
  letter-spacing: -0.1em;
  text-transform: uppercase;
  color: #fafaf9;
}
@media (max-width: 689.98px) {
  .indicators__distance {
    font-size: 24px;
  }
}
.indicators__km {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: rgba(239, 237, 232, 0.65);
}
@media (max-width: 689.98px) {
  .indicators__km {
    font-size: 12px;
  }
}
.indicators__tutorial {
  position: absolute;
  top: 389px;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
  padding: 20px 23px;
  border-radius: 12px;
  background: #303030;
}
@media (max-width: 689.98px) {
  .indicators__tutorial {
    padding: 10px 12px;
    top: 429px;
    left: 0px;
  }
}
@media (max-width: 398.98px) {
  .indicators__tutorial {
    top: 359px;
  }
}
@media (max-width: 689.98px) {
  .indicators__logo-play {
    width: 20px;
    height: 20px;
  }
}
.indicators__img-play {
  max-width: 100%;
}
.indicators__text-play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 8px;
}
.indicators__count-tutorial {
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.01em;
  color: #fafaf9;
}
@media (max-width: 689.98px) {
  .indicators__count-tutorial {
    font-size: 16px;
  }
}
.indicators__subtitle-tutorial {
  min-width: 108px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: rgba(239, 237, 232, 0.65);
}
@media (max-width: 689.98px) {
  .indicators__subtitle-tutorial {
    font-size: 12px;
  }
}
.indicators__workout {
  position: absolute;
  bottom: 0px;
  right: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 23px 17px;
  border-radius: 12px;
  background: #7a29dc;
}
@media (max-width: 689.98px) {
  .indicators__workout {
    padding: 11px 9px;
  }
}
@media (max-width: 398.98px) {
  .indicators__workout {
    bottom: 40px;
  }
}
.indicators__text-workout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 5px;
}
.indicators__count-workout {
  font-weight: 600;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0.03em;
  color: #fafaf9;
}
@media (max-width: 689.98px) {
  .indicators__count-workout {
    font-size: 20px;
  }
}
.indicators__subtitle-workout {
  font-weight: 400;
  font-size: 13px;
  line-height: 154%;
  letter-spacing: 0.08em;
  color: rgba(239, 237, 232, 0.65);
}

.join {
  padding: 46px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 50px;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 2.9s;
          animation-delay: 2.9s;
  -webkit-animation-name: workout;
          animation-name: workout;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}
.join__title {
  max-width: 560px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: rgba(239, 237, 232, 0.65);
}
.join__btn {
  max-width: 200px;
  border-radius: 10px;
  padding: 24px 24px;
  background-color: #e6533c;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 122%;
  letter-spacing: 0.06em;
  color: #fff;
  text-decoration: none;
}
@media (max-width: 460.98px) {
  .join__btn {
    padding: 14px 14px;
    font-size: 16px;
    text-align: center;
  }
}

.footer-workout {
  padding: 112px 0 0 0;
}
@media (max-width: 1259.98px) {
  .footer-workout {
    padding: 0 0 0 0;
  }
}
.footer-workout__title {
  margin: 0 0 33px 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 157%;
  letter-spacing: 0.07em;
  color: rgba(239, 237, 232, 0.65);
}
.footer-workout__companies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 18px;
     -moz-column-gap: 18px;
          column-gap: 18px;
}
@media (max-width: 619.98px) {
  .footer-workout__companies {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 25px;
  }
}
@-webkit-keyframes title {
  from {
    -webkit-transform: translate(-15%, 0);
            transform: translate(-15%, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes title {
  from {
    -webkit-transform: translate(-15%, 0);
            transform: translate(-15%, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes bg {
  from {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes bg {
  from {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes indicators {
  from {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes indicators {
  from {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes workout {
  from {
    -webkit-transform: translate(-10%, 0);
            transform: translate(-10%, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes workout {
  from {
    -webkit-transform: translate(-10%, 0);
            transform: translate(-10%, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}
.start__body {
  padding: 200px 0 0 107px;
}
.start__title {
  margin: 0 0 24px 0;
}
.start__subtitle {
  margin: 0 0 50px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: rgba(239, 237, 232, 0.65);
}
.start__offers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 32px;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
}
.title {
  font-weight: 600;
  font-size: 40px;
  line-height: 125%;
  letter-spacing: 0.01em;
  color: #fafaf9;
}

.offer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 304px;
          flex: 0 0 304px;
  padding: 52px 40px;
  border-radius: 12px;
}
.offer__title {
  margin: 0 0 12px 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #fafaf9;
}
.offer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
}
.offer__text {
  max-width: 192px;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.02em;
  color: rgba(239, 237, 232, 0.65);
}
.offer_bg1 {
  background: #323443;
}
.offer_bg2 {
  background: #232532;
}
.offer_bg4 {
  background: #4f5261;
}