//размеры
$max-w: 1342px;

//Шрифты
$font-famaly: "Inter", sans-serif;
$second-family: "Poppins", sans-serif;
$third-family: "SF Pro Display", sans-serif;

//цвета
$link: #0070c9;
$black: #171717;
$text-1: #fafaf9;
$text-2: rgba(239, 237, 232, 0.65);
$button: #e6533c;
$shape-1: #ef8964;
$shape-2: #303030;
$shape-3: #7a29dc;
$shape-seconday-1: #323443;
$shape-seconday-2: #232532;
$shape-seconday-3: #323443;
$shape-seconday-4: #4f5261;